<section class="events-section">
  <div class="container events-wrapper">
    <div class="events events-bankets">
      <h2 class="title events__title events-bankets__title">
        Top “Manhattan” events
      </h2>
      <h3 class="sub-title events__sub-title events-bankets__sub-title">
        Банкеты
      </h3>
      <p class="text events__text events-bankets__text">
        Quam massa pretium et venenatis. Fringilla sagittis, arcu massa, in sem viverra consequat. Tempus sed est
        interdum eget nisi, nec fames. Eget amet hac varius aliquam. Mattis egestas suspendisse convallis eu arcu et
        aliquet.
      </p>
      <p class="text events__text events-bankets__text">
        Porttitor risus sociis vitae nunc id lacus eget felis. Viverra et purus nibh ut. Sed ac leo sit posuere
        vulputate sed morbi. Donec gravida at turpis sed pulvinar. A nibh non consectetur morbi in arcu, in pellentesque
        mauris.

      </p>
      <p class="text events__text events-bankets__text">
        Eu sodales netus faucibus interdum interdum platea massa egestas. Facilisis donec gravida pretium diam semper at
        id eleifend.
      </p>
      <a href="#" class="about-link events__about events-bankets__about"> подробнее</a>
    </div>
    <div class="events events-bankets__img ">
      <img src="../img/events-img.png" alt="events-img">
    </div>
    <div class="events events-tourists">
      <h2 class="title events__title events-tourists__title">
        Top “Manhattan” tourists
      </h2>
      <h3 class="sub-title events__sub-title events-tourists__sub-title">
        Туристы
      </h3>
      <p class="text  events__text events-tourists__text">
        Quam massa pretium et venenatis. Fringilla sagittis, arcu massa, in sem viverra consequat. Tempus sed est
        interdum eget nisi, nec fames. Eget amet hac varius aliquam. Mattis egestas suspendisse convallis eu arcu et
        aliquet.
      </p>
      <p class="text  events__text events-tourists__text">Porttitor risus sociis vitae nunc id lacus eget felis. Viverra
        et purus nibh ut. Sed ac leo sit posuere
        vulputate sed morbi. Donec gravida at turpis sed pulvinar. A nibh non consectetur morbi in arcu, in pellentesque
        mauris.</p>
      <p class="text events__text events-tourists__text">
        Eu sodales netus faucibus interdum interdum platea massa egestas. Facilisis donec gravida pretium diam semper at
        id eleifend.
      </p>
      <a href="#" class=" about-link events__about events-tourists__about">подробнее</a>
    </div>
  </div>
</section>

