<section class="hero-block">
  <div class="container hero-wrapper">
    <h2 class="visually-hidden">Main hero</h2>
    <div class="hero-content">
      <div class="hero-content__left">
        <div class="hero-content__item-left">
          <h2 class="title hero-content__title">Since 1996</h2>
          <h3 class="sub-title hero-content__sub-title">True. Fontanka. Underground. </h3>
        </div>
      </div>

      <div class="hero-content__right">
        <div class="hero-content__item-right">
          <ul class="hero-tabs-nav list-reset">
            <li class="hero-tabs-nav__item">
              <button class="btn-reset hero-tabs-nav__btn hero-tabs-nav__btn--active" data-path="nearest">
                <span class="hero-tabs-nav__text">Ближайшие</span>
              </button>
            </li>
            <li class="hero-tabs-nav__item">
              <button class="btn-reset hero-tabs-nav__btn" data-path="soon">
                <span class="hero-tabs-nav__text">Скоро</span>
              </button>
            </li>
          </ul>
          <ul class="list-reset hero-tabs">
            <li class="hero-tabs__item hero-tabs__item--visible">
              <a href="#" class="hero-item" data-target="nearest">
                <img class="hero-item__image" src="img/tabs-1.png" alt="">
              </a>
            </li>
            <li class="hero-tabs__item hero-tabs__item--visible">
              <a href="#" class="hero-item " data-target="nearest">
                <img class="hero-item__image" src="img/tabs-1.png" alt="">
              </a>
            </li>
            <li class="hero-tabs__item hero-tabs__item--visible">
              <a href="#" class="hero-item " data-target="nearest">
                <img class="hero-item__image" src="img/tabs-1.png" alt="">
              </a>
            </li>
            <li class="hero-tabs__item hero-tabs__item--visible">
              <a href="#" class="hero-item " data-target="nearest">
                <img class="hero-item__image" src="img/tabs-1.png" alt="">
              </a>
            </li>
            <li class="hero-tabs__item">
              <a href="#" class="hero-item" data-target="soon">
                <img class="hero-item__image" src="img/soon.jpg" alt="">
              </a>
            </li>
            <li class="hero-tabs__item">
              <a href="#" class="hero-item" data-target="soon">
                <img class="hero-item__image" src="img/soon.jpg" alt="">
              </a>
            </li>
            <li class="hero-tabs__item">
              <a href="#" class="hero-item" data-target="soon">
                <img class="hero-item__image" src="img/soon.jpg" alt="">
              </a>
            </li>
            <li class="hero-tabs__item">
              <a href="#" class="hero-item" data-target="soon">
                <img class="hero-item__image" src="img/soon.jpg" alt="">
              </a>
            </li>
          </ul>


        </div>
      </div>
    </div>

  </div>
</section>
