<section class="section-poster">
  <div class="container poster__container">
    <h2 class="title poster__title">Top “Manhattan” party</h2>
    <h3 class="sub-title poster__subtitle">афиша</h3>

    <div class="poster__content">
      <ul class="poster__list list-reset">
        <li class="poster__item">
          <div class="poster__img">
            <img src="img/poster_img.png" alt="">
            <div class="img-info">
              <span class="img-info__date">17.07.2022<span class="img-info__date-circle"></span> 19:00</span>
              <span class="img-info__title">Рок в Манхэттене </span>
              <span class="img-info__price btn">550 ₽ </span>
            </div>
          </div>

        </li>
        <li class="poster__item">
          <div class="poster__img">
            <img src="img/poster_img2.png" alt="">
            <div class="img-info">
              <span class="img-info__date">17.07.2022<span class="img-info__date-circle"></span> 19:00</span>
              <span class="img-info__title">Рок в Манхэттене </span>
              <span class="img-info__price btn">550 ₽ </span>
            </div>
          </div>
        </li>
        <li class="poster__item">
          <div class="poster__img">
            <img src="img/poster_img3.png" alt="">
            <div class="img-info">
              <span class="img-info__date">17.07.2022<span class="img-info__date-circle"></span> 19:00</span>
              <span class="img-info__title">Рок в Манхэттене </span>
              <span class="img-info__price btn">550 ₽ </span>
            </div>
          </div>
        </li>
        <li class="poster__item">
          <div class="poster__img">
            <img src="img/poster_img4.png" alt="">
            <div class="img-info">
              <span class="img-info__date">17.07.2022<span class="img-info__date-circle"></span> 19:00</span>
              <span class="img-info__title">Рок в Манхэттене </span>
              <span class="img-info__price btn">550 ₽ </span>
            </div>
          </div>
        </li>
        <li class="poster__item">
          <div class="poster__img">
            <img src="img/poster_img.png" alt="">
            <div class="img-info">
              <span class="img-info__date">17.07.2022<span class="img-info__date-circle"></span> 19:00</span>
              <span class="img-info__title">Рок в Манхэттене </span>
              <span class="img-info__price btn">550 ₽ </span>
            </div>
          </div>
        </li>
        <li class="poster__item">
          <div class="poster__img">
            <img src="img/poster_img2.png" alt="">
            <div class="img-info">
              <span class="img-info__date">17.07.2022<span class="img-info__date-circle"></span> 19:00</span>
              <span class="img-info__title">Рок в Манхэттене </span>
              <span class="img-info__price btn">550 ₽ </span>
            </div>
          </div>
        </li>
        <li class="poster__item">
          <div class="poster__img">
            <img src="img/poster_img3.png" alt="">
            <div class="img-info">
              <span class="img-info__date">17.07.2022<span class="img-info__date-circle"></span> 19:00</span>
              <span class="img-info__title">Рок в Манхэттене </span>
              <span class="img-info__price btn">550 ₽ </span>
            </div>
          </div>
        </li>
        <li class="poster__item">
          <div class="poster__img">
            <img src="img/poster_img4.png" alt="">
            <div class="img-info">
              <span class="img-info__date">17.07.2022<span class="img-info__date-circle"></span> 19:00</span>
              <span class="img-info__title">Рок в Манхэттене </span>
              <span class="img-info__price btn">550 ₽ </span>
            </div>
          </div>
        </li>
        <li class="poster__item">
          <div class="poster__img">
            <img src="img/poster_img.png" alt="">
            <div class="img-info">
              <span class="img-info__date">17.07.2022<span class="img-info__date-circle"></span> 19:00</span>
              <span class="img-info__title">Рок в Манхэттене </span>
              <span class="img-info__price btn">550 ₽ </span>
            </div>
          </div>
        </li>
        <li class="poster__item">
          <div class="poster__img">
            <img src="img/poster_img2.png" alt="">
            <div class="img-info">
              <span class="img-info__date">17.07.2022<span class="img-info__date-circle"></span> 19:00</span>
              <span class="img-info__title">Рок в Манхэттене </span>
              <span class="img-info__price btn">550 ₽ </span>
            </div>
          </div>
        </li>
        <li class="poster__item">
          <div class="poster__img">
            <img src="img/poster_img3.png" alt="">
            <div class="img-info">
              <span class="img-info__date">17.07.2022<span class="img-info__date-circle"></span> 19:00</span>
              <span class="img-info__title">Рок в Манхэттене </span>
              <span class="img-info__price btn">550 ₽ </span>
            </div>
          </div>
        </li>
        <li class="poster__item">
          <div class="poster__img">
            <img src="img/poster_img4.png" alt="">
            <div class="img-info">
              <span class="img-info__date">17.07.2022<span class="img-info__date-circle"></span> 19:00</span>
              <span class="img-info__title">Рок в Манхэттене </span>
              <span class="img-info__price btn">550 ₽ </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
