<section class="menu-kitchen">
  <div class="container">
    <div class="menu-title">
      <h2 class="title title-mid">Top “Manhattan” menu</h2>
      <h3 class="sub-title sub-title-mid">Кухня</h3>
    </div>

    <div class="slider-nav">
      <button class="btn-reset btn slider-btn slider-nav__prev">
        <svg>
          <use xlink:href="img/sprite.svg#left-arrow"></use>
        </svg>
      </button>
      <div class="swiper">

        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <ul class="list-reset menu-list ">
              <li class="menu-list__item ">
                <div class="menu-list__item-img">
                  <img src="img/menu-img.png" alt="">
                </div>
                <div class="menu-list__content">
                  <div class="food">
                    <h4 class="food__title">
                      Amet donec.
                    </h4>
                    <span class="btn-reset btn btn--stroke food__price">
                      550 ₽
                    </span>
                  </div>
                  <span class="food__weight">200 гр</span>
                  <p class="food__text">
                    Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.

                  </p>
                </div>
              </li>
              <li class="menu-list__item ">
                <div class="menu-list__item-img">
                  <img src="img/menu-img.png" alt="">
                </div>
                <div class="menu-list__content">
                  <div class="food">
                    <h4 class="food__title">
                      Amet donec.
                    </h4>
                    <span class="btn-reset btn btn--stroke food__price">
                      550 ₽
                    </span>
                  </div>
                  <span class="food__weight">200 гр</span>
                  <p class="food__text">
                    Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.

                  </p>
                </div>
              </li>
              <li class="menu-list__item ">
                <div class="menu-list__item-img">
                  <img src="img/menu-img.png" alt="">
                </div>
                <div class="menu-list__content">
                  <div class="food">
                    <h4 class="food__title">
                      Amet donec.
                    </h4>
                    <span class="btn-reset btn btn--stroke food__price">
                      550 ₽
                    </span>
                  </div>
                  <span class="food__weight">200 гр</span>
                  <p class="food__text">
                    Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.

                  </p>
                </div>
              </li>
              <li class="menu-list__item ">
                <div class="menu-list__item-img">
                  <img src="img/menu-img.png" alt="">
                </div>
                <div class="menu-list__content">
                  <div class="food">
                    <h4 class="food__title">
                      Amet donec.
                    </h4>
                    <span class="btn-reset btn btn--stroke food__price">
                      550 ₽
                    </span>
                  </div>
                  <span class="food__weight">200 гр</span>
                  <p class="food__text">
                    Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.

                  </p>
                </div>
              </li>
              <li class="menu-list__item ">
                <div class="menu-list__item-img">
                  <img src="img/menu-img.png" alt="">
                </div>
                <div class="menu-list__content">
                  <div class="food">
                    <h4 class="food__title">
                      Amet donec.
                    </h4>
                    <span class="btn-reset btn btn--stroke food__price">
                      550 ₽
                    </span>
                  </div>
                  <span class="food__weight">200 гр</span>
                  <p class="food__text">
                    Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.

                  </p>
                </div>
              </li>
              <li class="menu-list__item ">
                <div class="menu-list__item-img">
                  <img src="img/menu-img.png" alt="">
                </div>
                <div class="menu-list__content">
                  <div class="food">
                    <h4 class="food__title">
                      Amet donec.
                    </h4>
                    <span class="btn-reset btn btn--stroke food__price">
                      550 ₽
                    </span>
                  </div>
                  <span class="food__weight">200 гр</span>
                  <p class="food__text">
                    Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.

                  </p>
                </div>
              </li>
              <li class="menu-list__item ">
                <div class="menu-list__item-img">
                  <img src="img/menu-img.png" alt="">
                </div>
                <div class="menu-list__content">
                  <div class="food">
                    <h4 class="food__title">
                      Amet donec.
                    </h4>
                    <span class="btn-reset btn btn--stroke food__price">
                      550 ₽
                    </span>
                  </div>
                  <span class="food__weight">200 гр</span>
                  <p class="food__text">
                    Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.

                  </p>
                </div>
              </li>
              <li class="menu-list__item ">
                <div class="menu-list__item-img">
                  <img src="img/menu-img.png" alt="">
                </div>
                <div class="menu-list__content">
                  <div class="food">
                    <h4 class="food__title">
                      Amet donec.
                    </h4>
                    <span class="btn-reset btn btn--stroke food__price">
                      550 ₽
                    </span>
                  </div>
                  <span class="food__weight">200 гр</span>
                  <p class="food__text">
                    Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.

                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div class="swiper-slide">
            <ul class="list-reset menu-list ">
              <li class="menu-list__item ">
                <div class="menu-list__item-img">
                  <img src="img/menu2.png" alt="">
                </div>
                <div class="menu-list__content">
                  <div class="food">
                    <h4 class="food__title">
                      Amet donec.
                    </h4>
                    <span class="btn-reset btn btn--stroke food__price">
                      550 ₽
                    </span>
                  </div>
                  <span class="food__weight">200 гр</span>
                  <p class="food__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.

                  </p>
                </div>
              </li>
              <li class="menu-list__item ">
                <div class="menu-list__item-img">
                  <img src="img/menu-img.png" alt="">
                </div>
                <div class="menu-list__content">
                  <div class="food">
                    <h4 class="food__title">
                      Amet donec.
                    </h4>
                    <span class="btn-reset btn btn--stroke food__price">
                      550 ₽
                    </span>
                  </div>
                  <span class="food__weight">200 гр</span>
                  <p class="food__text">
                    Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.

                  </p>
                </div>
              </li>
              <li class="menu-list__item ">
                <div class="menu-list__item-img">
                  <img src="img/menu-img.png" alt="">
                </div>
                <div class="menu-list__content">
                  <div class="food">
                    <h4 class="food__title">
                      Amet donec.
                    </h4>
                    <span class="btn-reset btn btn--stroke food__price">
                      550 ₽
                    </span>
                  </div>
                  <span class="food__weight">200 гр</span>
                  <p class="food__text">
                    Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.

                  </p>
                </div>
              </li>
              <li class="menu-list__item ">
                <div class="menu-list__item-img">
                  <img src="img/menu-img.png" alt="">
                </div>
                <div class="menu-list__content">
                  <div class="food">
                    <h4 class="food__title">
                      Amet donec.
                    </h4>
                    <span class="btn-reset btn btn--stroke food__price">
                      550 ₽
                    </span>
                  </div>
                  <span class="food__weight">200 гр</span>
                  <p class="food__text">
                    Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.

                  </p>
                </div>
              </li>
              <li class="menu-list__item ">
                <div class="menu-list__item-img">
                  <img src="img/menu-img.png" alt="">
                </div>
                <div class="menu-list__content">
                  <div class="food">
                    <h4 class="food__title">
                      Amet donec.
                    </h4>
                    <span class="btn-reset btn btn--stroke food__price">
                      550 ₽
                    </span>
                  </div>
                  <span class="food__weight">200 гр</span>
                  <p class="food__text">
                    Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.

                  </p>
                </div>
              </li>
              <li class="menu-list__item ">
                <div class="menu-list__item-img">
                  <img src="img/menu-img.png" alt="">
                </div>
                <div class="menu-list__content">
                  <div class="food">
                    <h4 class="food__title">
                      Amet donec.
                    </h4>
                    <span class="btn-reset btn btn--stroke food__price">
                      550 ₽
                    </span>
                  </div>
                  <span class="food__weight">200 гр</span>
                  <p class="food__text">
                    Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.

                  </p>
                </div>
              </li>
              <li class="menu-list__item ">
                <div class="menu-list__item-img">
                  <img src="img/menu-img.png" alt="">
                </div>
                <div class="menu-list__content">
                  <div class="food">
                    <h4 class="food__title">
                      Amet donec.
                    </h4>
                    <span class="btn-reset btn btn--stroke food__price">
                      550 ₽
                    </span>
                  </div>
                  <span class="food__weight">200 гр</span>
                  <p class="food__text">
                    Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.

                  </p>
                </div>
              </li>
              <li class="menu-list__item ">
                <div class="menu-list__item-img">
                  <img src="img/menu-img.png" alt="">
                </div>
                <div class="menu-list__content">
                  <div class="food">
                    <h4 class="food__title">
                      Amet donec.
                    </h4>
                    <span class="btn-reset btn btn--stroke food__price">
                      550 ₽
                    </span>
                  </div>
                  <span class="food__weight">200 гр</span>
                  <p class="food__text">
                    Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.

                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <button class="btn-reset btn slider-btn slider-nav__next">
        <svg>
          <use xlink:href="img/sprite.svg#right-arrow"></use>
        </svg>
      </button>
    </div>

    <div class="slider-nav slider-nav__bottom">
      <button class="btn-reset btn slider-nav__more">
        <a href="#" class="all-menu">все меню
        </a>
      </button>

    </div>

  </div>


</section>
